@page "/EnumSelect"

@using  ToreAurstadIT.BlazorEnumSelect.SampleClient.Models
@using Blazorise

<EditForm Model="@model">
    <span>Selected the some enum value: @model.SomeEnum</span> <br />

    <span>Selected the some enum second value: @model.SomeEnumSecond</span>


    <ToreAurstadIT.BlazorEnumSelect.ClassLibrary.InputSelectEnum @bind-Value="@model.SomeEnum"
                                                                 EmptyTextValue="-1" ShowIntValues="true"
                                                                 AdditionalCssClasses="custom-select">
    </ToreAurstadIT.BlazorEnumSelect.ClassLibrary.InputSelectEnum>

    <br /><br />

    <ToreAurstadIT.BlazorEnumSelect.ClassLibrary.InputRadioGroupEnum @bind-Value="@model.SomeEnumSecond" StackMode="StackMode.Horizontal"
                                                                     EmptyTextValue="-1" ShowIntValues="true"                                                                     
                                                                     AdditionalCssClassesDiv="custom-control custom-radio custom-control-inline"
                                                                     AdditionalCssClasses="custom-control-input"
                                                                     AdditionalCssClassesLabel="custom-control-label"
                                                                >
    </ToreAurstadIT.BlazorEnumSelect.ClassLibrary.InputRadioGroupEnum>


@*    <RadioGroup TValue="string" Name="colors">
    <Radio TValue="string" Value="@("red")">Red</Radio>
    <Radio TValue="string" Value="@("green")">Green</Radio>
    <Radio TValue="string" Value="@("blue")">Blue</Radio>
</RadioGroup>*@


    @*<InputRadioGroup @bind-Value="temptest">
            @foreach (var option in rdOptions)
            {
                <InputRadio Value="option" /> @option <br />
            }
        </InputRadioGroup>*@

</EditForm>

@code{
    public SomeWrappingClassWithSomeEnum model = new SomeWrappingClassWithSomeEnum();


    public string temptest { get; set; }

    List<string> rdOptions = new List<string> { "car", "bus", "auto" };

}